/* Add CSS Styling */
.button_one{
    background-color: black;
    color: white;
}

.button_two{
    background-color: yellow;
}

.button_two,
.button_one{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

